<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="gpio_config">
    <gpio name="gpio">
      <!-- Example on how to fill GPIO fields-->
      <!-- <command_interface name="01" data_type="BOOLEAN">
        <limits enable="false"/>
        <param name="initial_value">INIT_VAL</param>
      </command_interface>
      <command_interface name="03" data_type="double">
        <limits enable="true"/>
        <param name="min">MIN_VAL</param>
        <param name="max">MAX_VAL</param>
      </command_interface>

      <state_interface name="01" data_type="BOOLEAN">
        <limits enable="false"/>
        <param name="initial_value">INIT_VAL</param>
      </state_interface>
      <state_interface name="02" data_type="BOOLEAN">
        <limits enable="false"/>
        <param name="initial_value">INIT_VAL</param>
      </state_interface>
      <state_interface name="03" data_type="double">
        <limits enable="true"/>
        <param name="min">MIN_VAL</param>
        <param name="max">MAX_VAL</param>
        <param name="initial_value">INIT_VAL</param>
      </state_interface> -->
    </gpio>
  </xacro:macro>
</robot>
