controller_manager:
  ros__parameters:
    update_rate: 250  # Hz

    defaults:
      allow_controller_activation_with_inactive_hardware: true
      deactivate_controllers_on_hardware_self_deactivate: false

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    gpio_controller:
      type: gpio_controllers/GpioCommandController
