controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController

    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    fri_configuration_controller:
      type: kuka_controllers/FRIConfigurationController

    fri_state_broadcaster:
      type: kuka_controllers/FRIStateBroadcaster

    hardware_components_initial_state:
      unconfigured:
        - "lbr_iiwa14_r820"
