controller_manager:
  ros__parameters:
    update_rate: 100  # Hz

    defaults:
      allow_controller_activation_with_inactive_hardware: true
      deactivate_controllers_on_hardware_self_deactivate: false

    joint_trajectory_controller:
      type: joint_trajectory_controller/JointTrajectoryController
    effort_controller:
      type: effort_controllers/JointGroupEffortController
    joint_state_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster
    fri_state_broadcaster:
      type: kuka_controllers/FRIStateBroadcaster
    event_broadcaster:
      type: kuka_controllers/EventBroadcaster
    external_torque_broadcaster:
      type: joint_state_broadcaster/JointStateBroadcaster

    # Configuration controllers
    joint_group_impedance_controller:
      type: kuka_controllers/JointGroupImpedanceController
    fri_configuration_controller:
      type: kuka_controllers/FRIConfigurationController
    control_mode_handler:
      type: kuka_controllers/ControlModeHandler
