name: CI

# This determines when this workflow is run
# on: [push, pull_request] # on all pushes and PRs

# or more fine-grained
on:
  push:
    branches:
      - master
      - sunrise_driver_original
      - feature/**
      - fix/**
    paths-ignore:
      - doc/**
      - '**.md'
      - LICENSE
      - .github/workflows/deploy_wiki.yml
  # When there is a pull request against master
  pull_request:
    branches:
      - master
      - feature/**
      - fix/**
    paths-ignore:
      - doc/**
      - '**.md'
      - LICENSE
      - .github/workflows/deploy_wiki.yml

jobs:
  industrial_ci:
    strategy:
      matrix:
        env:
        - ROS_REPO: ros
          BUILDER: colcon
          ANALYZER: sonarqube
          TEST_COVERAGE: true
          UPSTREAM_WORKSPACE: 'github:kroshu/kroshu_ros2_core#master github:kroshu/kuka_simulators#main'
          CMAKE_ARGS: '-DMOCK_FRI=ON'
          ROS_DISTRO: humble
    env:
      CCACHE_DIR: /github/home/.ccache # Directory for ccache (and how we enable ccache in industrial_ci)
      BEFORE_INIT: 'apt update && apt-get install -y libgrpc++-dev && apt-get install -y libnanopb-dev'
      EVENT_NAME: ${{ github.event_name }}
      BRANCH: ${{ github.event.ref }}
      PR_BRANCH: ${{ github.event.pull_request.head.ref }}
      PR_BASE: ${{ github.event.pull_request.base.ref }}
      PR_NUMBER: ${{ github.event.number }}
      ANALYZER_TOKEN: ${{ secrets.ANALYZER_TOKEN }}
      DEBUG_BASH: true
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      # This step will fetch/store the directory used by ccache before/after the ci run
      - uses: actions/cache@v2
        with:
          path: ${{ env.CCACHE_DIR }}
          key: ccache-${{ matrix.env.ROS_DISTRO }}-${{ matrix.env.ROS_REPO }}
      # Run industrial_ci
      - uses: 'kroshu/industrial_ci@master'
        env: ${{ matrix.env }}
