<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="LBR3R760iisy">
<!-- Import iisy urdf file  -->
<xacro:include filename="$(find kuka_iisy_support)/urdf/iisy.ros2_control.urdf.xacro"/>

<xacro:eci_config client_ip="10.36.60.228" 
                  controller_ip="10.36.60.208" 
                  control_mode="1"/>
<!-- 1 - position control
     2 - torque control
     3 - joint impedance control  -->
</robot>
